.cabecalho {
	display: flex;
	justify-content: space-between;
	padding: 2.5rem;
	margin: 0 auto;
	max-width: 1200px;
	align-items: center;
}

.cabecalho_lista {
	display: flex;
	gap: 25px;
}

.cabecalho_lista_item_link {
	color: var(--c13);
	padding: 0.5rem;
}

@media (max-width: 1150px) {
	.cabecalho {
		flex-direction: column;
		gap: 20px;
	}

	.cabecalho_lista_item_link {
		padding: 0.5rem 1rem;
		background: var(--c2);
		border-radius: 5px;
	}
}

@media (max-width: 750px) {
	.cabecalho_logo {
		width: 70%;
	}
}

@media (max-width: 500px) {
	.cabecalho_lista {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		text-align: center;
	}
}
